html{
    scroll-behavior: smooth;
}

.photo{
    border:solid rgb(55, 208, 160);
    border-radius: 10px;
    width:5%;
    margin-bottom: 2%;
    transition: 0.1s;
}

.photo:hover{
    transform: scale(2.2) translateY(30px);
}

h1,h3,ul,li,p{
    font-family: "MV Boli";

}

.cv-main{
    border:solid rgb(55, 208, 160);
    padding: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(162, 231, 220, 0.89);
    border-radius: 15px;
}


.navClass{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
}

.options{
    border:solid rgb(55, 208, 160);
    color: #ffffff;
    text-decoration:none;
    padding: 0.3%;
    margin-right:2%;
    margin-bottom: 2%;
    background-color: rgba(23, 111, 128, 0.95);
    font-family: "MV Boli";
    border-radius: 10px;
    transition: 0.2s;
}

.options:hover{
    border:solid rgba(23, 111, 128, 0.95);
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: white;
    color: rgba(23, 111, 128, 0.95);
}

.SportRaquette{
    width: 4%;
    margin-left: 10px;
    border-radius: 2px;
}

.SportRaquette:hover{
    transform: translateX(200px) translateY(-80px) scale(15);
    blur(200px);
}

.Certif-GP{
    width: 4%;
    margin-left: 10px;
    border-radius: 1px;
    backdrop-filter: blur(15px);
}

.Certif-GP:hover{
    transform: translateX(180px) translateY(-80px) scale(20);
}

.music{
    margin-top: 5px;
    width: 90%;
}

.musique:hover{
    transform: scale(10);
    translate: 100px;
}

.box{
    margin-bottom: 1%;
    margin-right: 1%;
    background-color: aliceblue;
    border-radius: 5px;
}

.body_bg{
    background-image: url("Vecteezy_Geometric-Background_Revisi2-Revisi_RW0320.jpg");
    background-size: 100%;
    background-attachment: fixed ;
    background-repeat: round;
}

.box_contact{
    background-color: aliceblue;
    border-radius: 10px;
    width: 98%;
}

.submitButton{
    border-color: #37d0a0;
    width: 10%;
    color: rgba(255, 255, 255, 0.95);
    background-color: rgba(23, 111, 128, 0.95);
    border-radius: 15px;
    transition: 0.1s;
}

.submitButton:hover{
    color: rgba(23, 111, 128, 0.95);
    background-color: rgba(255, 255, 255, 0.95);
    width: 200px;
}

.droits{
    margin-top: 5px;
    text-align: center;
}